$i: 1;
$limit: 500;

@while($i<$limit) {
    .p-#{$i} {
        padding: #{$i}px;
    }

    .pl-#{$i} {
        padding-left: #{$i}px;
    }

    .pr-#{$i} {
        padding-right: #{$i}px;
    }

    .pt-#{$i} {
        padding-top: #{$i}px;
    }

    .pb-#{$i} {
        padding-bottom: #{$i}px;
    }

    $i : $i+1;
}