@import '../vars/color.scss';

#button {
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 16px 20px 16px 20px;
    border-radius: 4px;
    background: $primary-black;
    color: $primary-white;
    transition: all ease 0.15s;
    border: 1px solid $primary-black;
    font-size: 20px;
    line-height: 24px;
    font-weight: 600;
    cursor: pointer;
    user-select: none;
    z-index: 8;

    svg,
    path {
        fill: $primary-white;
        width: 24px;
        height: 24px;
    }

    &.small {
        font-size: 16px;
        line-height: 20px;
        padding: 14px 16px 14px 16px;
    }

    &:hover {
        background: $primary-neutral;
        border: 1px solid $primary-neutral;
    }

    &:active {
        background: $primary-white;
        color: $primary-black;
        border: 1px solid $primary-black;

        svg {
            fill: $primary-black;
        }
    }
}