#mouseMovementTracker {
    width: 24px;
    height: 24px;
    position: absolute;
    backdrop-filter: invert(100%);
    border-radius: 50%;
    transition: transform ease-in-out 0.2s;

    @media screen and (max-width:768px) {
        display: none;
    }
}